@use "../base/variables" as *;
@use "../base/mixins" as *;

.dashboard {
  border: 1px solid black;
  background-color: #f7f9fa;

  .dashboard-container {
    padding: 2rem;
    text-align: left;

    .dashboard-title {
      margin-bottom: 2rem;
      color: $text-color;
    }

    .helper-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 1.5rem;
    }
  }
}
