@use "../base/variables" as *;
@use "../base/mixins" as *;

.auth-form {
  min-width: 420px;
  margin: 3rem auto;
  padding: 2.5rem 2rem;
  background-color: $tertiary-color;
  border-radius: 0.75rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

a {
  font-weight: 700;
  color: $primary-color;
  text-decoration: underline;
}
