$primary-color: #194350;
$secondary-color: #ff8882;
$tertiary-color: #9dbeb9;
$text-color: #222;

$border-radius: 0.75rem;

$shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.15);
$transition: all 0.3s ease-in-out;

$font-stack: "Inter", "Helvetica Neue", sans-serif;
